{% extends 'usercenter-base.html' %}
{% load staticfiles %}

{% block title %}个人信息|mooc{% endblock %}

{% block custom_bread %}
    <!--crumbs start-->
    <section>
        <div class="wp">
            <ul  class="crumbs">
                <li><a href="{% url 'index' %}">首页</a>></li>
                <li><a href="{% url 'user:user_info' %}">个人中心</a>></li>
                <li>个人信息</li>
            </ul>
        </div>
    </section>
{% endblock %}

{% block right_content %}
    
    <div class="right" >
		<div class="personal_des Releasecont">
			<div class="head">
				<h1>我的消息</h1>
			</div>

		</div>
		<div class="personal_des permessage">
			<div class="head">
				<ul class="tab_header messagehead">
					<li class="active"><a href="{% url 'user:my_message' %}">个人消息</a> </li>
					<li ><a href="/user/message/?type=sys">系统通知</a></li> <!-- 有完成此功能的条件，但是要多编辑一个mvc -->
				</ul>
                
				<ul class="fr option">
					<li><label><input class="selectall" type="checkbox"/> 全选</label></li>
					<li class="delete jsDeleteMsg"></li>
				</ul>
                
			</div>
			<div class="messagelist">
                {% for message in messages.object_list %}
                    <div class="messages">
                        <label class="fl">
                            <input name="my_message_id" class="checkbox" type="checkbox" data-value="199"/>
                        </label>
                    
                        <div class="fr">
                            <div class="top"><span class="fl time">{{ message.add_time }}</span><span class="fr btn foldbtn"></span></div>
                            <p>
                                {{ message.message }}
                            </p>
                        </div>
                    </div>
                {% endfor %}
			</div>
            
            <!--    <ul class="option fl">
                    <li><label><input class="selectall" type="checkbox"/> 全选</label></li>
                    <li class="delete jsDeleteMsg"></li>
                </ul>
            猜测此段主要作用是批量删除消息，但是删除暂未实现 -->
			<div class="pageturn pagerright">
                <ul class="pagelist">
                    {% if messages.has_previous %}
                        <li class="long"><a href="{{ messages.previous_page_number.querystring }}">上一页</a></li>
                    {% endif %}
                    {% for page in messages.pages %}
                        {% if page %}
                            {% ifequal page messages.number %}
                                <li class="active"><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                            {% else %}
                                <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                            {% endifequal %}
                        {% else %}
                            <li class="none"><a href="">...</a></li>
                        {% endif %}
                    {% endfor %}

                    {% if messages.has_next %}
                        <li class="long"><a href="?{{ messages.previous_page_number.querystring }}">下一页</a></li>
                    {% endif %}
                </ul>
            </div>
		</div>
	</div>
{% endblock %}